{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Information</title>
    <!-- Add Bootstrap link -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  
    <link rel="stylesheet" href="/static/css/style.css">
   
  

</head>
<body>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h2>Contact Information</h2>
            </div>
            <div class="card-body">
                <h1 class="card-title">Hi, I'm Akachi </h1>
                <p><strong>Name:</strong>Akachi Placid </p>
                <p><strong>Email:</strong>Zoe92@gmail.com </p>
               
                <p class="card-text"><strong>Message:</strong> Feel free to reach out! I'm available for any inquiries.</p>
            </div>
            <div class="card-footer text-muted">
                <p>Thank you for visiting my contact page!</p>
            </div>
        </div>
    </div>
    <!-- Optional: Add Bootstrap JS at the end -->
   
</body>
</html>

